@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

header{
    color: #fff;
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3{
    font-size: 32px;
    margin: 0;
    color: #000;
    font-weight: 400;
    font-family: 'madimi one', sans-serif;
}
.close{
    display: none;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline;
    margin-right: 24px;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    transition: .3s ease;
}
nav ul li a:hover{
    color: orangered;
}
.menu{
    display: none;
}

.hero{
    background: url(bg.jpg);
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
.hero h1{
    font-size: 44px;
    margin: 0;
}
.hero p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 24px;
}
.btn{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: .3s ease;
}
.btn:hover{
    background-color: orangered;
}

.featured-products{
    padding: 48px 0;
}

.featured-products h1{
    text-align: center;
    margin-bottom: 32px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: 24px;
}
.product{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: .3s ease;
}
.product:hover{
    transform: translateY(-10px);
}
.product img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h3{
    margin: 0;
    font-size: 24;
    color: #333;
}
.product p{
    font-size: 16px;
    margin: 5px 0 15px;
    color: #666;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width:768px) {
    .container h3{
        font-size: 24px;

    }
    nav{
        position: fixed;
        top: 0;
        right: -150px;
        z-index: 1;
        width: 150px;
        height: 100vh;
        background-color: #333;
        transition: .6s;
    }
    .close{
        display: block;
        margin: 24px 16px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
    }
    nav ul{
        margin-top: 72px;
    }
    nav ul li{
        display: block;
        margin: 24px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        margin: 24px;
        color: #000;
        font-size: 24px;

    }
    .hero h1{
        font-size: 32px;
    }
    .hero p{
        font-size: 16px;
    }
    .product-grid{
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    .product{
        padding: 15px;
    }
        .product img{
            margin-bottom: 8px;
        }
        .product h3{
            font-size: 16px;
        }
        .product p{
            font-size: 14px;
        }
    
    
}


